<aside class="main-sidebar sidebar-custom elevation-4">

    <div class="brand-link">
        <div class="logo-container">
            <img src="./Extras/usuario.jpg" alt="" class="logo-image">
        </div>
    </div>

    <div
        class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">

        <div class="os-padding">
            <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">


                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <a href="/inicio" class="nav-link">
                                <i class="fa-solid fa-house"></i>
                                <p>
                                    &nbsp;&nbsp;INICIO
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/personas" class="nav-link">
                                <i class="fa-solid fa-user-large"></i>
                                <p>
                                    &nbsp;&nbsp;PERSONAS
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa-solid fa-user-doctor"></i>
                                <p>&nbsp;&nbsp;MEDICO
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa-brands fa-accessible-icon"></i>
                                <p>&nbsp;&nbsp;PACIENTE
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

    </div>

</aside>